
<style>

    body{
        background-color: #32333d;
    }
   
</style>


<MudPaper Width="100%" Height="800px"  Class="d-flex justify-center flex-wrap align-content-center">


    <MudPaper Width="500px" Class="d-flex">

        <div>
            <img src="images/press.png" height="200px"/>
            
        </div>
    </MudPaper>


</MudPaper>

